{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<h1 class="title">{{.Title}}</h1>
<div class="content">
  {{.Content}}
</div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $scripts := resources.Get "js/anchors.js" }}
<script type="text/javascript" src="{{ ($scripts | minify | fingerprint).RelPermalink }}"></script>
<script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
<script src="http://wow.zamimg.com/widgets/power.js"></script>
{{ end }}
